<div class="container ">
  <h1>Modifier mon profil</h1>

    <%= form_with model: @user, url: profile_path, method: :patch, local: true do |f| %>
      <h2>Compte</h2>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control w-50" %>

      <%= f.label :password, "Nouveau mot de passe" %>
      <%= f.password_field :password, class: "form-control w-50" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control w-50" %>

      <h2>Profil</h2>
      <%= f.fields_for :member, @member do |m| %>
        <%= m.label :pseudo %>
        <%= m.text_field :pseudo, class: "form-control w-50" %>

        <%= m.label :presentation %>
        <%= m.text_area :presentation, class: "form-control w-50" %>

        <%= m.label :reseau_social %>
        <%= m.text_field :reseau_social, class: "form-control w-50" %>
      <% end %>

      <%= f.submit "Mettre à jour", class: "btn btn-primary mt-3" %>
    <% end %>
</div>
