<!-- app/views/events/index.html.erb -->
<div class="events-container">

  <div class="events-column past">
    <h2 class= "text-warning">Événements passés</h2>
    <% if @past_events.any? %>
      <% @past_events.each do |event| %>
        <div class="event-card">
          <%= link_to event.url, target: "_blank", rel: "noopener noreferrer" do %>
            <%= image_tag url_for(event.photo), alt: event.name %>
          <% end %>
          <h3><%= event.name %></h3>
          <p><%= l(event.start_date, format: :long) %></p>
          <p><%= event.description %></p>
        </div>
      <% end %>
    <% else %>
      <p>Aucun événement passé.</p>
    <% end %>
  </div>

  <div class="events-column upcoming">
    <h2 class= "text-warning">Événements à venir</h2>
    <% if @upcoming_events.any? %>
      <% @upcoming_events.each do |event| %>
        <div class="event-card">
          <%= link_to event.url, target: "_blank", rel: "noopener noreferrer" do %>
            <%= image_tag url_for(event.photo), alt: event.name %>
          <% end %>
          <h3><%= event.name %></h3>
          <p><%= l(event.start_date, format: :long) %></p>
          <p><%= event.description %></p>
        </div>
      <% end %>
    <% else %>
      <p>Aucun événement à venir.</p>
    <% end %>
  </div>

</div>
