<%= form_with(model: @event, local: true, html: { multipart: true }) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <h4>Erreur(s) :</h4>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="add-event-container">
    <h2 class="text-center text-warning">Ajout d'un évènement</h2>
    <div class="mb-3">
      <%= f.label :name, "Nom de l'événement" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :localisation, "Lieu" %>
      <%= f.text_field :localisation, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, rows: 4, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :url, "Lien (site officiel, réseaux sociaux...)" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="row">
      <div class="col mb-3">
        <%= f.label :start_date, "Date de début" %>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
      <div class="col mb-3">
        <%= f.label :end_date, "Date de fin" %>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :photos, "Photos (vous pouvez en sélectionner plusieurs)" %>
      <%= f.file_field :photos, multiple: true, class: "form-control" %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "Créer l'événement", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
