<div class="container mt-5">
  <div class="event-card">
    <div class="card-body">
      <div id="carousel">
        <%= render "layouts/carousel", object: @event %>
      </div>
      <h1><%= @event.name %></h1>
          <% if user_signed_in? && (current_user.admin?) %>
            <button type="button"
                    class="btn btn-dark btn-sm rounded-circle shadow ms-2"
                    data-bs-toggle="modal"
                    data-bs-target="#addEventPhotoModal"
                    title="Ajouter une photo">
              <i class="fa-solid fa-camera"></i>
            </button>
          <% end %>

      <p class="mt-3">
        <strong>Date :</strong>
        <%= l(@event.start_date, format: :long) %>
        <% if @event.end_date && @event.end_date != @event.start_date %>
          au <%= l(@event.end_date, format: :long) %>
        <% end %>
      </p>

      <% if @event.localisation.present? %>
        <p><strong>Lieu :</strong> <%= @event.localisation %></p>
      <% end %>

      <% if @event.description.present? %>
        <div class="mt-3">
          <p><%= simple_format(@event.description) %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render "layouts/add_photo_modal",
           object: @event,
           modal_id: "addEventPhotoModal",
           form_url: add_photo_event_path(@event),
           title: "Ajouter une photo à cet événement" %>
