<header class="custom-navbar navbar navbar-expand-md bg-transparent">
  <div class="container">

    <%# Brand visible uniquement sur mobile %>
    <%= link_to "Dragon Krayt A'den", root_path,
          class: "navbar-brand d-block d-md-none" %>

    <%# Bouton hamburger pour mobile %>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNav"
            aria-controls="mainNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# MENU COLLAPSABLE %>
    <div class="collapse navbar-collapse justify-content-center" id="mainNav">

      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <%= link_to "Accueil", home_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Le Clan", about_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Membres", members_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Evènements", events_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Nous contacter", new_contact_form_path, class: "nav-link" %>
        </li>

        <% unless user_signed_in? %>
          <% if controller_name == "members" && action_name == "show" %>
            <li class="nav-item mt-2">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                <%= image_tag "https://img.icons8.com/windows/32/mandalorian.png",
                              alt: "Se connecter",
                              class: "mandalorian-btn" %>
              </button>
            </li>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= render "layouts/user_dropdown" %>
        <% end %>
      </ul>

    </div>
  </div>
</header>
