<!DOCTYPE html>
<html>
  <head>
    <title>DragonKraytADen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
    </style>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "layouts/custom_navbar" %>
    <%= render "layouts/flash_alert" %>
    <%= yield %>
  </body>
</html>
