<!DOCTYPE html>
<html>
  <head>
    <title>DragonKraytADen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
    </style>

  </head>

  <body>
    
    <%= render "layouts/flash_alert" %>
    <%= render "layouts/custom_navbar" %>
    <% if user_signed_in? %>
      <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: "Es-tu sûr de vouloir te déconnecter ?" } } %>
    <% end %>


    <%= yield %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const toastElements = document.querySelectorAll('.toast');
        toastElements.forEach((toastEl) => {
          const toast = new bootstrap.Toast(toastEl);
          toast.show();
        });
      });
    </script>



  </body>
</html>
