<!DOCTYPE html>
<html>
  <head>
    <title>DragonKraytADen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>

    <%= render "layouts/flash_alert" %>
    <%= render "layouts/custom_navbar" %>
    <%= render "layouts/flash" %>
    <% if user_signed_in? %>
      <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: "Es-tu sûr de vouloir te déconnecter ?" } } %>
    <% end %>


    <%= yield %>

  <%= render "layouts/login_modal" %>


  </body>
</html>
