<div class="container">
  <%= form_with model: @member, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :pseudo %>
      <%= f.text_field :pseudo, class: "form-control w-50" %>
    </div>

    <div class="mb-3">
      <%= f.label :presentation %>
      <%= f.text_area :presentation, class: "form-control w-50" %>
    </div>

    <div class="mb-3">
      <%= f.label :reseau_social %>
      <%= f.text_field :reseau_social, class: "form-control w-50" %>
    </div>

    <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
  <% end %>

</div>
