<h1>Voici le mando que vous avez choisi :</h1>


      <%# <img src="<%= asset_path(@member.photos) %>" alt="<%= @member.pseudo %>">
      <%# <%= @member.pseudo %>
        <%# <%= link_to @member.reseau_social, target: "_blank", rel: "noopener noreferrer" do %>
          <%# <%= @member.reseau_social %>
        <%# <% end %>
      <%# <%= @member.presentation %>
