<div class="container mt-5">

  <h1 class="mb-4 text-center">Vous avez choisi :</h1>


  <div class="card mx-auto" style="max-width: 600px;">
    <% if @member.photos.attached? %>
      <div id="memberPhotosCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <% @member.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag url_for(photo), class: "d-block w-100", alt: @member.pseudo %>
             <% if user_signed_in? && (current_user.admin? || current_user == @member.user) %>
              <%= link_to "🗑 Supprimer", member_photo_path(@member, photo.id), method: :delete, data: { confirm: "Supprimer cette photo ?" }, class: "btn btn-danger btn-sm mt-2" %>
            <% end %>

            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#memberPhotosCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#memberPhotosCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Suivant</span>
        </button>
      </div>
    <% end %>

    <div class="card-body text-center">
      <h2 class="card-title mb-3"><%= @member.pseudo %></h2>

      <% if @member.reseau_social.present? %>
        <p class="card-text">
          <%= link_to @member.reseau_social, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" do %>
            <% if @member.reseau_social.include?("instagram.com") %>
                  <i class="fa-brands fa-instagram fa-bounce fa-2x"></i>
            <% elsif @member.reseau_social.include?("facebook.com") %>
                  <i class="fab fa-facebook fa-bounce fa-2x"></i>
            <% elsif @member.reseau_social.include?("twitter.com") %>
                  <i class="fab fa-twitter fa-bounce fa-2x"></i>
            <% else %>
                  <i class="fas fa-globe fa-bounce fa-2x"></i> <!-- Icône générique -->
            <% end %>
          <% end %>
        </p>
      <% end %>

      <% if @member.presentation.present? %>
        <p class="card-text"><%= @member.presentation %></p>
      <% end %>
    </div>
  </div>

</div>
