<div class="container mt-5">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Modifier ce membre", edit_member_path(@member), class: "btn btn-warning btn-sm" %>
  <% end %>

  <h1 class="mb-4 text-center">Vous avez choisi :</h1>


  <div class="card mx-auto" style="max-width: 600px; background-color:rgba(0, 0, 0, 0.6) ; color: #eee;">
    <div id="carousel">
      <%= render "layouts/carousel",
      object: @member,
      delete_path: ->(member, attachment) { member_photo_path(member, attachment.id) } %>

    </div>

      <div class="card-body">
        <%# Ligne flex avec pseudo et bouton %>
        <div class="d-flex align-items-center mb-0">
          <h2 class="card-title mb-3 flex-grow-1 text-center">
            <%= @member.pseudo %>
          </h2>
          <% if user_signed_in? && (current_user.admin? || current_user == @member.user) %>
            <button type="button"
                    class="btn btn-dark btn-sm rounded-circle shadow ms-2"
                    data-bs-toggle="modal"
                    data-bs-target="#addPhotoModal"
                    title="Ajouter une photo">
              <i class="fa-solid fa-camera"></i>
            </button>
          <% end %>
        </div>

         <%# Icône réseau social, juste sous le pseudo %>
        <% if @member.reseau_social.present? %>
          <div class="text-center mb-3">
            <%= link_to @member.reseau_social,
                        target: "_blank",
                        rel: "noopener noreferrer",
                        class: "text-decoration-none" do %>
              <% case @member.reseau_social
                when /instagram\.com/ then %>
                  <i class="fa-brands fa-instagram fa-bounce fa-2x"></i>
              <% when /facebook\.com/ then %>
                  <i class="fab fa-facebook fa-bounce fa-2x"></i>
              <% when /X\.com/ then %>
                  <i class="fab fa-twitter fa-bounce fa-2x"></i>
              <% else %>
                  <i class="fas fa-globe fa-bounce fa-2x"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% if @member.presentation.present? %>
          <p class="card-text text-center"><%= @member.presentation %></p>
        <% end %>
      </div>

  </div>

</div>
<%= render "layouts/add_photo_modal",
           object: @member,
           modal_id: "addPhotoModal",
           form_url: add_photo_member_path(@member),
           title: "Ajouter une photo à ce membre" %>
