<div class="container mt-5">

  <h1 class="mb-4 text-center">Vous avez choisi :</h1>


  <div class="card mx-auto" style="max-width: 600px;">
    <div id="carousel">
      <%= render "carousel", member: @member %>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <!-- Titre : prend tout l'espace disponible et centre son texte -->
        <h2 class="card-title mb-0 flex-grow-1 text-center">
          <%= @member.pseudo %>
        </h2>

        <!-- Bouton : à droite du container flex -->
        <% if user_signed_in? && (current_user.admin? || current_user == @member.user) %>
          <button type="button"
                  class="btn btn-dark btn-sm rounded-circle shadow ms-2"
                  data-bs-toggle="modal"
                  data-bs-target="#addPhotoModal"
                  title="Ajouter une photo">
            <i class="fa-solid fa-plus fa-lg"></i>
          </button>
        <% end %>
      </div>



      <% if @member.reseau_social.present? %>
        <p class="card-text">
          <%= link_to @member.reseau_social, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" do %>
            <% if @member.reseau_social.include?("instagram.com") %>
                  <i class="fa-brands fa-instagram fa-bounce fa-2x"></i>
            <% elsif @member.reseau_social.include?("facebook.com") %>
                  <i class="fab fa-facebook fa-bounce fa-2x"></i>
            <% elsif @member.reseau_social.include?("twitter.com") %>
                  <i class="fab fa-twitter fa-bounce fa-2x"></i>
            <% else %>
                  <i class="fas fa-globe fa-bounce fa-2x"></i> <!-- Icône générique -->
            <% end %>
          <% end %>
        </p>
      <% end %>

      <% if @member.presentation.present? %>
        <p class="card-text"><%= @member.presentation %></p>
      <% end %>
    </div>
  </div>

</div>
<%= render "photo_form", member: @member %>
